<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Health Care Hospital</title>
</head>

<body style="margin:0; padding:0">
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #606">
    <tr>
        <td valign="top" style="padding:50px 0 0 100px;"><img  src="cid:jaypeelogo" border="0"></td>
    </tr>
	
	<!--<tr>
		<td valign="top" praava style="padding:50px 0 0 50px;"><img  src="cid:jaypeebanner" style="width:500px;height:250px;"  border="0"></td>
	</tr>-->
    <tr>
        <td style="padding-left: 15px; padding-right: 15px">
            
            <br/>
            Hi <span style="font-size: 1em; font-weight: bold"> ${name}!</span>,
            <br>
            <br>
            

            <p>
                Your one time password for UPI mapping is  <span style="font-size: 1em; font-weight: bold"> ${otp}</span>.
            </p>
            
        </td>
    </tr>
    <tr>
        <td style="padding-left: 15px; padding-right: 15px">  </td>

    </tr>
    <tr>
        
    </tr>
</table>


<map name="Map" id="Map">
    <area shape="rect" coords="10,2,108,49" href="javascript:;" />
</map>

<map name="Map2" id="Map2">
    <area shape="rect" coords="494,27,571,78" href="javascript:;" />
    <area shape="circle" coords="24,46,14" href="javascript:;" />
    <area shape="circle" coords="59,46,13" href="javascript:;" />
    <area shape="circle" coords="93,47,13" href="javascript:;" />
    <area shape="circle" coords="128,46,13" href="javascript:;" />
    <area shape="circle" coords="165,46,13" href="javascript:;" />
</map>
</body>
</html>

